# Entornos virtuales
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Archivos compilados
*.pyd

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp
*.log

# Matplotlib
*.cache